/* PrimaryService.scss */
// PrimaryService 섹션 전용 스타일

.ps-wrapper {
   width: 100%;
   padding: 40px 16px 56px;
   background: #fff;
   scroll-snap-align: start;
   height: 100vh;
   min-height: 100vh;
   display: flex;
   align-items: center;

   .container {
      width: 100%;
      margin: 0 auto;
   }
}
